USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 12/3/2019 10:59:02 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLSV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLSV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[qlsv]    Script Date: 12/3/2019 10:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qlsv](
	[MaSV] [varchar](50) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[Khoa] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Diem1] [float] NULL,
	[Diem2] [float] NULL,
	[Diem3] [float] NULL,
	[Diem4] [float] NULL,
 CONSTRAINT [PK_qlsv] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[qlsv] ([MaSV], [TenSV], [NgaySinh], [Khoa], [GioiTinh], [Diem1], [Diem2], [Diem3], [Diem4]) VALUES (N'SV106652', N'Mã Đằng', CAST(0xC41F0B00 AS Date), N'VatLy', N'Nam', 8, 5, 6, 9)
INSERT [dbo].[qlsv] ([MaSV], [TenSV], [NgaySinh], [Khoa], [GioiTinh], [Diem1], [Diem2], [Diem3], [Diem4]) VALUES (N'SV127811', N'Hoa Man', CAST(0xBD220B00 AS Date), N'Van', N'Nữ', 10, 8, NULL, NULL)
INSERT [dbo].[qlsv] ([MaSV], [TenSV], [NgaySinh], [Khoa], [GioiTinh], [Diem1], [Diem2], [Diem3], [Diem4]) VALUES (N'SV255709', N'Trương Bảo', CAST(0x85220B00 AS Date), N'VatLy', N'Nam', 10, 5, 6, 7)
USE [master]
GO
